.user-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    min-width: 50vw;
    border: 1px solid var(--black);
    padding: 20px;
}

.user-form-error-message {
    color: var(--danger);
}

.user-form-label {
    font-size: 1.2em;
}

.user-form-button {
    width: 100%;
}

.user-form-input {
    width: 100%;
}